.cart-controller {
    width: 100px;
    margin-left: 20px;
	border-radius: 30px;
	border: 1px solid lightgrey;
    color: black !important;
    background-color: white !important;
}

.cart-controller .btn {
	font-size: 20px;
	line-height: 30px;
	padding: 0 10px !important;
}

.food-details .btn-danger {
    background-color: #fd2c4f !important;
    
}

.action .btn{
    margin-top: 50px;
    color: black !important;
    background-color: white !important;
    height: 50px;
}

.order-first img{
    width: 300px;
    height: 400px;
  object-fit: cover;

}

.success-mgs {
	animation: show-hide 1.5s ease-in-out 1 forwards;
	font-style: italic;
}

@keyframes show-hide {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
