.banner {
	background-size: cover;
	background-position: center;
	height: 100vh;
	color: white;
}

.btn {
	height: 100%;
	width: 130px;
    border-radius: 25px;
}

.login-btn{
    background-color: #4687c8;
}

.signup-btn{
    background-color: white;
}